.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 6fr;
  grid-template-areas:
    ". header ."
    ". input clear"
    ". price ."
    ". chart .";
  max-height: 100%;
  max-width: 100%;
  background: hsl(240, 15%, 77%);
}

.header-1 {
  grid-area: header;
  color: hsl(0, 3%, 25%);
}

.input-1 {
  grid-area: input;
}

.empty-button {
  grid-area: clear;
}

.chart-placement {
  grid-area: chart;
}

.price {
  grid-area: price;
}
